@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --black: #1E1E1E;
  --red: #FF5B5B;
  --blue: #0079FF;
  --light-grey: #F7F7F7;
}

body {
  color: var(--black);
  background-color: var(--light-grey);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  transition: background-color .3s ease;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: color .3s ease;
}

a:hover {
  color: var(--blue);
}

.nav-link {
  color: var(--black);
  font-weight: 600;
  transition: background-color .3s ease, color .3s ease;
}

.nav-link:hover {
  color: var(--light-grey);
  background-color: var(--blue);
}

.active {
  color: var(--blue);
  background-color: var(--light-grey);
  border: solid 2px var(--blue);
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.landing h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: var(--blue);
}

.about {
  background-color: var(--blue);
  color: var(--light-grey);
  padding: 2em 0;
  text-align: center;
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.125em;
  line-height: 1.8;
}

#name {
  font-size: 2em;
  font-weight: bold;
}

.about-me {
  font-size: 1.5em;
}

b {
  color: var(--black);
}

.skills {
  padding: 2em 0;
  text-align: center;
}

.skills h3 {
  font-size: 1.5em;
  color: var(--blue);
  font-weight: 700;
}

.skills ul li {
  list-style: none;
  font-size: 1em;
}

.project-card {
  margin: 2em auto;
  transition: transform .3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.card-text {
  font-size: 0.8em;
  text-align: center;
}

/* Scrollbar design */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #444444; 
}
